@media (max-width:900px) {
    .main .con2 .pr {
        width: 50%;
    }
    .main .con2 .pr .fl {
        height: 390px;
    }
}

@media (max-width:600px) {
    .main .con2 .pr {
        width: 100%;
    }
}